<div>
    <a href="/login">Login</a>
    <a href="/singup">Registro</a>
</div>
<h1>Pagina login</h1>

<form method="post" action="/api/sessions/login">
    <input type="email" placeholder="Correo" name="email"/>
    <br/><br/>
    <input type="password" placeholder="Contraseña" name="password"/>
    <br/><br/>
    <button type="submit">Iniciar sesion</button>
</form>

<hr>
<a href="/forgot-password">
    Olvide contraseña
</a>