<div>
    <a href="/">Inicio</a>
    <a href="/products?page=1">Productos</a>
    <a href="/chat">Chat</a>
    <a href="/realtimeproducts">Productos en tiempo real</a>
    <a href="/profile">Perfil</a>
    <a href="/update-users">Usuarios</a>

</div>
<h1>Pagina perfil</h1>
<p><b>Nombre completo: </b> {{userProfileInfo.nombreCompleto}}</p>
<p><b>Email: </b>  {{userProfileInfo.email}}</p>
<a href="/api/sessions/logout">Cerrar sesion</a>