<div>
    <a href="/">Inicio</a>
    <a href="/products?page=1">Productos</a>
    <a href="/chat">Chat</a>
    <a href="/realtimeproducts">Productos en tiempo real</a>
    <a href="/profile">Perfil</a>

</div>
        
<div>
    <h1>Ticket de Compra</h1>
    <ul>
        <li>Code: {{getTicket.code}}</li>
        <li>Datetime: {{getTicket.purchase_datetime}}</li>
        <li>Amount: ${{getTicket.amount}}</li>
        <li>Purchaser: {{getTicket.purchaser}}</li>
    </ul>

</div>